 /* strat global*/
*{
    margin: 0px ; 
    padding: 0px ; 
    box-sizing: border-box ; 
}
body{
    background-color: #eae6e675 ; 
}
.container{
    width: 100% ; 
}


.container .row{
    width: 100% ; 
}

.rtl{
    direction: rtl;
    text-align: right;
}
/*  end global*/

/*  start Login Form*/



/*  End edit data   */

/*  Start Card  */
.card{
    padding: 5px ;
    position: relative;
    margin-bottom: 5px ;  
    min-width: 200px ;
}
.card.item-box{
    padding: 5px ; 
}

.card .img-container{
    min-width: 235px;
    height: 200px;
    background-size: 100% 100%;
    padding: 0px;
    margin: 0px; 
}
.card .img-container img {
    width: 100%;
    height: 100%; 
}
.card .caption{
    overflow: hidden;
    background-color: #FFF;
}
.card .caption h5{
    margin-bottom: 5px ; 
    color: #3c3c3c; 
    text-transform:capitalize;
}
.card .caption p{
    color: #525252;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.card .caption .price{
    position: absolute;
    top: 5px ; 
    right: 5px ;
    font-size: 23px;
    color: #000;
    display: block;
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    color: #FFF;
    font-weight: bolder;
}
.card .caption .card-date{
    text-align: right;
    color: #e2a4a4;
}
.upper-nav{
    line-height: 33px ; 
    overflow: hidden; 
}
.upper-nav .log a{
    text-decoration: none;
    color: #808080;
    font-size: 22px;
    font-weight: 400;
}
.upper-nav .log a:hover{
    color: #CCC ; 
}
.upper-nav .log span{
    color: #808080;
    font-size: 22px;
    font-weight: 400;
    width: 14px;
    display: inline-block;  
}
.upper-nav .list{
    overflow: hidden;
    margin: 0px ; 

}
.upper-nav .list li{
    display: inline-block;
    margin: 0px 2px;
    position: relative ;
    cursor: pointer;
}
.upper-nav .list li::after{
    content: "" ; 
    position: absolute;
    left: 50% ; 
    right: 50% ;
    top: 28px ;  
    height: 1px ; 
    background-color: #000 ; 
    transition: 0.3s ; 
}
.upper-nav .list li:hover::after{
    left: 0px ; 
    right: 0px ; 
}
.upper-nav .list li:hover > a{
    color: #369a5e ;  
}
.upper-nav .list li a{
    text-decoration: none;
    color: #948e8e ;     
    font-size: 14px;
    font-weight: 400;
}
.upper-nav .mine{

width: 33px;
height: 33px;
margin-right: 2px;
vertical-align: top;

}

.upper-nav a{
    color:#369a5e;
    text-decoration: none;
}
.upper-nav a:hover{
    color:#222233;
}
/*  Start Card  */


/*  Start Form */

.chose .login:hover,
.chose .signin:hover{
    color: #ccbbbb ;
    cursor: pointer;
}
.chose .login.active,
.chose .signin.active{
    color: #000; 
}
.form{
    max-width: 430px;
    margin: 25px auto;
}
.form .form-group{
    position: relative;
}
.form .form-group .aterisk{
    position: absolute;
    top: 1px;
    right: 16px;
    color: #de5d5d;
    font-size: 30px;
}
.form .form-group i{
    top: 6px;
    right: -30px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}
.form.signup{
    display: none;
}

/*  End Form */


/*  Start Framwork  */
h2.h1{
    font-size: 25px;
    color: #8e8787;
    margin: 20px 20px  ; 
}



/*  Start shape  */
.empty{
    margin: 20px auto;
    text-align: center;
    border-left: 3px solid #343a40;
    background-color: #f9bfbf;
}
.good{
    margin: 20px auto;
    width: 800px;
    text-align: center;
    line-height: 30px;
    border-left: 3px solid #8686e4;
    background-color: #98ea98;
}
.bad{
    margin: 20px auto;
    width: 800px;
    text-align: center;
    line-height: 30px;
    border-left: 3px solid #2f2f69;
    background-color: #eaa78d;
    color: #FFF ; 
}



/*  End shape  */

/*  Start Panel   */
.block{
    margin-bottom:  20px ;
}

.block .panel{
    border: 1px solid #8989c7 ; 
}
.block .panel .panel-heading,
.block .panel .panel-body{
    background-color: #8989c7 ;
    padding: .75rem;
    font-size: 20px;
    color: #FFF ;
}
.block .panel .panel-body{
    color: #232121 ; 
    overflow: hidden; 
}

.block .panel .panel-body .btn a{
    text-decoration: none;
    color: #333 ;
}
.block .panel .panel-body{
    background-color: #DDD ; 
}

/*  End Panel   */
/*  Start Items.php  */
.pies h3{
    margin-bottom: 2px ;
    margin-left: 5px ; 
}
.pies ul{
    margin-bottom: 0px ;  
}
.pies ul li{
    padding: 5px ; 
    border-radius: 5px  
}
.pies ul li span{
    /* display: inline-block;
    width: 220px ;  */
    float: right;
}
.subcat a{
    text-decoration: none;
}
.pies ul li .desc,
.commenter .comment{
    cursor: pointer;
    
}
.pies ul li .tag{
    /* display: inline-block;
    width: 220px ;  */
    float: left;
}
.pies ul li:nth-child(odd){
    background-color: #c7bcbc ; 
}
.pies ul li a{
    text-decoration: none;
    color: #636ea2; 
}
.pies ul li a:hover{
    color: #3f51b5 ; 
}
.cutom-row{
    border-top: 1px solid rgb(0 0 0 / 25%);
}
.commenter{
    margin-bottom: 15px ; 
}
.commenter .user{
    padding: 10px;
    padding-left: 0px;
    font-size: large;
    font-weight: 500;
    color: #655050;
}
.editform .form-group > div{
    padding-right: 0px ;
    padding-bottom: 2px ; 
}
.editform .form-group > div > input{
    /* padding-right: 0px ; */
    margin-right: -12px ;
}
.commenter .comment{
    background-color: #e6e6e6;
    padding: 5px;
    font-size: large;
    font-weight: 300;
    color: #655050;
    position: relative;
    line-height: 37px ; 
}

/* EDITING */

.editform input:not(:last-child){
    position: relative  ; 

}
.editform .form-group  i{
    position: absolute;
    top: 9px;
    font-size: 20px;
    right: -17px;
    color: #626892;
    cursor: pointer;
}
/* EDITING */
.commenter .comment span, 
.un{
    display: inline-block;
    background-color: #333;
    padding: 0px 10px;
    border-radius: 5px;
    color: red;
}
.un{
    margin-bottom: 5px ; 
    margin-left: 5px ; 
    float: left;
}
.commenter .comment:not(:last-of-type){
    margin-bottom: 8px ; 
}
.commenter .comment:before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #615c5c transparent transparent;
    top: 0px;
    left: -23px;
}
.formcomment{
    max-width: 600px  ; 
    margin: 10px auto ; 
}
.formcomment .bt{
    overflow: hidden;
}

/*  End Items.php   */

/*  start Home Page */
.all-items{
    margin-top: 40px ; 
}
.item-box{
    margin-bottom: 5px ; 
}

/*  End Homepage    */
.tag{
    width: auto !important  ; 
    display: inline-block;
    padding: 0px 9px;
    background-color: #CCC;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.tag:hover{
    background-color: #f5ecec ; 
}

/*start of handle the sub categorey Nameing*/

.container .collapse .navbar-nav .nav-item .nav-link.activeLink{
    color: rgb(189, 189, 230);
}
/*end of handle the sub categorey Nameing */
.break-word{
    word-break: break-all;
}

.avatar{
    width: 45px;
    height: 45px;
    margin-right: 2px;
    margin-top: -6px;
}